{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/nprogress.css" %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <title>Stock Management</title>
</head>

<body>
    <nav class="navbar-expand-lg navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/list_items">Stock Management System</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-flex justify-content-between align-items-center" style="width:100%;">
                <div class="d-flex">
                    <li class="nav-item">
                        <a class="nav-link active" href="/list_items">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_items">Add Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create_category">Add Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list_history">List History</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/send_e_mail">Send E-Mail</a>
                    </li>
                </div>
                <div class="d-flex">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout">
                            <input class="btn btn-sm  btn-danger " type="submit" value="{{request.user}} | Logout" />
                        </a>
                    </li>
                    {% endif %}
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/login">
                            <input class="btn btn-sm  btn-info " type="submit" value="{{request.user}} | Login" />
                        </a>
                    </li>
                    {% endif %}
                </div>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="{% static "js/paging.js" %}"></script>
     <script src="{% static "js/nprogress.js" %}"></script>

    <script>
      
    $( function() {
        $( ".datetimeinput" ).datepicker({changeYear:true,changeMonth:true,dateFormat:'yy-mm-dd'});
        } );

      $(document).ready(function() {
                $('.table').paging({limit:5});
            });




      $('body').show();
    NProgress.start();
    // NProgress.done();
    setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 500);
    $("a").click(function() { NProgress.set(0.4); });


  
    </script>

</body>
</html>