{% extends "stock_app/navbar.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-between align-items-top ml-4 mr-4">
        <div class="col-sm-6">
            <div class="jumbotron mt-5">
                <h1 class="text-center mb-5">Create Category</h1>
                <div class="container-fluid">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {{form|crispy}}
                        <input class="btn btn-sm btn-warning" type="submit" value="Create" />
                    </form>
                </div>
            </div>
        </div>
        {% if all_category %}
        <div class="col-sm-5">
            <h3 class="text-center mt-5 text-info ">Categories</h3>
            <hr />
            <div class="table_custom3 table-responsive">
                <table class="table   custom_table table-bordered table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Count</th>
                            <th class="text-center">Image / File</th>
                            <th class="text-center">Category</th>
                            <th class="text-center">Want to Delete?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in all_category %}
                        <tr>
                            <td class="text-center">{{forloop.counter}}</td>
                            {% if item.upload_img %}
                            <td class="text-center">
                                <img src="{{item.upload_img.url}}" width="100" height="100" />
                                <a href="/media/{{item.upload_file}}" download="">Click To Download</a>
                            </td>
                            {% endif %}
                            {% if not item.upload_img %}
                            <td class="text-center">
                                No Preview Available
                            </td>
                            {% endif %}
                            <td class="text-center">
                                {{item.name}}
                            </td>
                            <td class="text-center">
                                <a href="{% url 'Del_categories' item.id %}">
                                    <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% if not all_category %}
        <div class="col-sm-5">
            <h3 class="text-center mt-5 mb-4 text-danger ">No Categories, Add Now!</h3>
            <hr />
        </div>
        {% endif %}
    </div>
    {% endblock content %}